In [1]:
#Import packages
import pandas as pd
from pandas import DataFrame
import numpy as np

In [2]:
#Defining dataset
salary_file=(r'C:\Users\abrah\Documents\Capstone project\nbaplayers1718.csv')
pd.read_csv(salary_file)
salary1=pd.read_csv(salary_file)
salary2_file=(r'C:\Users\abrah\Documents\Capstone project\NBA_season1718_salary.csv')
pd.read_csv(salary2_file)
salary2=pd.read_csv(salary2_file)

In [3]:
#Data Cleaning
#Join Columns
#Join the season stats dataset with the salary dataset
columns2= ['Unnamed: 0', 'Tm']
salary2.drop(columns2, axis=1, inplace=True)
columns1= ['#', 'Season Start']
salary1.drop(columns1, axis=1, inplace=True)
salary= pd.merge(salary1, salary2, how='left', left_on='Player Name', right_on='Player')

In [4]:
#Adding columns
#Adding columns as traditional statistical attributes are measured in total numbers in the dataset, I am adding columns to divide those attributes by games played.
salary['ORB/G'] = np.where(salary['G'] < 1, salary['G'], salary['ORB']/salary['G'])
salary['DRB/G'] = np.where(salary['G'] < 1, salary['G'], salary['DRB']/salary['G'])
salary['TRB/G'] = np.where(salary['G'] < 1, salary['G'], salary['TRB']/salary['G'])
salary['AST/G'] = np.where(salary['G'] < 1, salary['G'], salary['AST']/salary['G'])
salary['STL/G'] = np.where(salary['G'] < 1, salary['G'], salary['STL']/salary['G'])
salary['BLK/G'] = np.where(salary['G'] < 1, salary['G'], salary['BLK']/salary['G'])
salary['TOV/G'] = np.where(salary['G'] < 1, salary['G'], salary['TOV']/salary['G'])
salary['PF/G'] = np.where(salary['G'] < 1, salary['G'], salary['PF']/salary['G'])
salary['PTS/G'] = np.where(salary['G'] < 1, salary['G'], salary['PTS']/salary['G'])
#Drop attributes that are not related to the performance of a player
columns= ['Tm', ' Player Salary in $ ', 'blank2', 'blanl', 'ORB','DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Pos', 'Age', 'GS', 'MP', 'Player']
salary.drop(columns, axis=1, inplace=True)

In [5]:
#Check for null values
copysalary=salary.copy()
null_values_col = copysalary.isnull().sum()
null_values_col = null_values_col[null_values_col != 0].sort_values(ascending = False).reset_index()
null_values_col.columns = ["variable", "number of missing"]
null_values_col.head()

      variable  number of missing
0  season17_18                 75
1          3P%                 37
2          FT%                 15
3          2P%                  2
4         eFG%                  1

In [6]:
#Remove any players that have no salary for the 17/18 season
salary.dropna(subset=['season17_18'] , inplace=True)
#All the other null values will be replaced with 0
salary.fillna(0, inplace=True)

In [7]:
#Rename the column name showing the salaries of the players to ‘Salary’
salary.rename(columns={'season17_18': 'Salary'}, inplace=True)

In [8]:
#Remove any possible duplicates in the column with players names
salary.drop_duplicates(subset='Player Name', keep= "first", inplace=True)

In [10]:
#Check if there are any more null values
copysalary=salary.copy()
null_values_col = copysalary.isnull().sum()
null_values_col = null_values_col[null_values_col != 0].sort_values(ascending = False).reset_index()
null_values_col.columns = ["variable", "number of missing"]
null_values_col.head()
copysalary.isnull().any()

Player Name    False
G              False
PER            False
TS%            False
3PAr           False
FTr            False
ORB%           False
DRB%           False
TRB%           False
AST%           False
STL%           False
BLK%           False
TOV%           False
USG%           False
OWS            False
DWS            False
WS             False
WS/48          False
OBPM           False
DBPM           False
BPM            False
VORP           False
FG             False
FGA            False
FG%            False
3P             False
3PA            False
3P%            False
2P             False
2PA            False
2P%            False
eFG%           False
FT             False
FTA            False
FT%            False
Salary         False
ORB/G          False
DRB/G          False
TRB/G          False
AST/G          False
STL/G          False
BLK/G          False
TOV/G          False
PF/G           False
PTS/G          False
dtype: bool

In [11]:
#Save the dataset as a .csv file
salary.to_csv(r'C:\Users\abrah\Documents\Capstone project\finaldataset.csv')